<script src="https://js.fintoc.com/v1/"> 

    const widget = Fintoc.create({
        holderType:'individual',
        product:'movements',
        publicKey:'pk_live_NExsy9ngfSbYsH3WpyMEnkEYPAPZd7zh',
        webhookUrl:'https://webhook.site/c628df92-d689-4237-9037-c1cc471c13c9',
    })
     
    function abrirFintoc() {
      widget.open()
    }
    </script>
    
    <button onclick="abrirFintoc()">
      Conectar Cuenta con Fintoc
    </button>
